@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-neutral-50 dark:bg-neutral-900
}

.btn-project {
  @apply inline-flex 
        border-0 py-2 px-6 
        rounded text-lg
        text-white 
        dark:text-white 
        bg-blue-600 
        focus:outline-none 
        hover:text-white
        hover:bg-blue-700/80
}

.project-card {
  @apply flex flex-col m-3 rounded-xl 
          transition duration-300 transform border border-gray-100
          hover:scale-105
          hover:shadow-md
          dark:border-gray-200/5
          dark:hover:shadow-md
          hover:text-blue-600
}

h1, h2, h3, h4, h5, h6 {
  @apply text-neutral-900 
          dark:text-white
}

footer {
  @apply text-white 
        dark:text-white
        bg-neutral-100 
        dark:bg-neutral-800/50
}

a {
  @apply text-neutral-500 
          hover:text-neutral-700 
          dark:text-neutral-400 
          dark:hover:text-neutral-50
}

p {
  @apply text-neutral-500 
          dark:text-neutral-400
}
